* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    background: transparent;

}

html {
    scroll-behavior: smooth;

    .fslightbox-open body {
        overflow-y: hidden;
    }
}

a {
    text-decoration: none;
    color: initial;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    user-select: none;
}

body {
    overflow-x: hidden;
    outline: none; // keyboard outline remove
    -webkit-tap-highlight-color: transparent;

    &.popup-open {
        overflow-y: hidden !important;
    }

    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background: var(--dark-bg);

}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 104px;
    padding-right: 104px;
    max-width: 1920px;

    @include breakpoint-max(3xl) {
        max-width: 1680px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint-max(xxl) {
        max-width: 1440px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint-max(xl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint-max(lg) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include breakpoint-max(md) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include breakpoint-max(sm) {
        max-width: 680px;
        padding-left: 20px;
        padding-right: 20px;
    }


}




.swiper {
    width: 100%;
    height: 100%;
}

p,
li,
span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fslightbox-toolbar-button:first-child {
    display: none !important;
}

.splide__list,
.splide_slide {
    visibility: visible;
}

button {
    cursor: pointer;
}

.swiper-wrapper {
    cursor: grab;
    user-select: none;
}





#wpadminbar {
    display: none;
}


.body-outlines {
    position: relative;
    z-index: 2;

    .outline-container {
        position: fixed;
        display: flex;
        gap: 428px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;

        .outline-wrapper {
            height: 100%;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            padding-left: 104px;
            padding-right: 104px;
            max-width: 1920px;

            @include breakpoint-max(3xl) {
                max-width: 1680px;
                padding-left: 40px;
                padding-right: 40px;
            }

            @include breakpoint-max(xxl) {
                max-width: 1440px;
                padding-left: 40px;
                padding-right: 40px;
            }

            @include breakpoint-max(xl) {
                padding-left: 40px;
                padding-right: 40px;
            }

            @include breakpoint-max(lg) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include breakpoint-max(md) {
                padding-left: 25px;
                padding-right: 25px;
            }

            @include breakpoint-max(sm) {
                max-width: 100%;
                padding-left: 20px;
                padding-right: 20px;
            }

            .outline-one {
                width: 1px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);

                // Hide outlines 2, 3, 4 on mobile (768px and below)
                @include breakpoint-max(md) {

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }

        &.top-offset {
            top: 80px;
        }

        &.bottom-offset {
            bottom: 120px;
            height: calc(100vh - 114px);

            @media(max-width:500px) {
                height: calc(100vh - 127px);

            }
        }
    }
}




.primary-button {
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
    justify-content: center;
    background: var(--primary-red);
    color: var(--color-white);
    padding: 10px 18px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: var(--font-mono);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
    text-transform: uppercase;

    @media (max-width: 1300px) {
        padding: 10px 14px;
        gap: 6px;
        font-size: 12px;
        line-height: 16px;
    }

    @media (max-width: 900px) {
        padding: 10px 14px;
        font-size: 12px;
        line-height: 16px;
        gap: 8px;
    }

    @media (max-width: 400px) {
        padding: 8px 14px;
        gap: 6px;
        font-size: 12px;
        line-height: 16px;
        height: 36px;
    }

    &:hover {
        background: var(--color-white);
        color: var(--primary-red);
    }

    svg {
        margin-bottom: 2px;


    }

    &:hover svg {
        rect {
            fill: var(--primary-red);
        }
    }
}

.secondary-button {
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-white);
    padding: 10px 18px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: var(--font-mono);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-wrap: nowrap;
    z-index: 10;
    text-transform: uppercase;

    @media (max-width: 1300px) {
        padding: 10px 14px;
        gap: 8px;
    }

    @media (max-width: 900px) {
        padding: 10px 14px;
        font-size: 12px;
        line-height: 16px;
        gap: 8px;
    }

    .button-text {
        color: var(--color-white);
        @extend .button-text;
        text-decoration: none;
        transition: all 0.3s ease;
        box-shadow: none;
        text-wrap: nowrap;
    }

    &:hover {
        background: var(--primary-red);
        transform: translateY(-1.5px);
    }

    svg {
        margin-top: -2px;
    }
}

.third-button {
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
    justify-content: center;
    color: var(--primary-red);
    background: var(--color-white);
    padding: 10px 18px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: var(--font-mono) !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-wrap: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;


    @media (max-width: 1300px) {
        padding: 10px 14px;
        gap: 8px;
    }

    @media (max-width: 900px) {
        padding: 10px 14px;
        font-size: 12px;
        line-height: 16px;
        gap: 8px;
    }


    &:hover {
        background: var(--primary-red);
        color: var(--color-white);
        transform: translateY(-1.5px);
    }

    svg {
        margin-top: -2px;


    }

    &:hover svg {
        rect {
            fill: white;
        }
    }
}