$font-body: "Manrope", sans-serif;

:root {
    --primary-red: rgba(188, 0, 26, 1);
    --dark-red: #5A0E24;
    --light-bg: rgba(255, 255, 255, 1);
    --light-bg-2: rgba(255, 255, 255, 0.8);
    --dark-bg: #1A1A1A;
    --dark-normal: rgba(0, 0, 0, 1);
    --dark-80: rgba(0, 0, 0, 0.8);
    --text-dark: #333;
    --color-white: #FFFFFF;
    --gold: #D4AF37;

    // font
    --font-primary: "Figtree", sans-serif;
}
