.footer {
    background-color: var(--dark-normal);
    color: #fff;
    padding: 60px 0px;
    font-family: "Inter", sans-serif;

    .container {


        .footer-container {
            display: flex;
            gap: 160px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-bottom: 50px;

            @media (max-width: 1600px) {
                gap: 40px;
            }

            @media (max-width: 1370px) {
                flex-direction: column;
                gap: 70px;
            }

            .footer-menu-links {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 70px;

                @media (max-width: 1600px) {
                    gap: 30px;
                }

                @media (max-width: 1100px) {
                    // grid-template-columns: 1fr;
                    gap: 20px;
                }


                .footer-menu-links-two {
                    display: flex;
                    gap: 70px;

                    @media (max-width: 1600px) {
                        gap: 30px;
                    }

                    @media (max-width: 1100px) {
                        // grid-template-columns: 1fr;
                        gap: 20px;
                    }

                    @media (max-width: 970px) {
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }

            .footer-column {
                position: relative;
                // max-width: 249px;
                // width: 100%;

                .footer-title {
                    @extend .button-text;
                    text-transform: uppercase;
                    color: var(--light-bg);
                    margin-bottom: 32px
                }


            }

            .footer-about {
                width: 268px;

                // @media (max-width: 1030px) {
                //     width: 100%;
                // }

                .logo {
                    display: inline-block;
                    margin-bottom: 30px;
                }

                .mobile-logo {
                    display: none;
                }

                @media (max-width: 600px) {
                    .logo {
                        display: none;
                    }

                    .mobile-logo {
                        display: inline-block;
                        margin-bottom: 30px;
                    }
                }

                .footer-text {
                    width: 285px;
                    @extend .body-text-two;
                    color: var(--light-bg-2);
                    opacity: 80%;

                    @media (max-width:900px) {
                        padding-bottom: 10px
                    }

                }
            }

            .footer-title {
                @extend .button-text;

                p {
                    cursor: pointer;
                }
            }

            .footer-links {
                max-width: 357px;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li a {
                    @extend .body-text;
                    text-wrap: nowrap;
                    color: var(--light-bg-2);
                    text-decoration: none;
                    transition: color 0.3s;
                    position: relative;
                    opacity: 80%;


                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 1px;
                        background-color: var(--text-red);
                        transition: width 0.3s ease;
                    }

                    &:hover {
                        color: var(--light-bg);

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }


            .footer-quick-links {
                width: 357px;

                @media (max-width:700px) {
                    width: 133px;
                }
            }




        }

        .footer-bottom {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            @extend .body-text;
            color: var(--light-bg-2);

            @media (max-width: 600px) {
                flex-direction: column;
                gap: 30px;
                text-align: start;
                align-items: flex-start;
                line-height: 3;
            }

            .copy-right-text {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @media (max-width:550px) {
                    flex-direction: column;
                }

                span {
                    @extend .body-text;
                    color: var(--light-bg-2);
                    opacity: 80%;

                }

                a {
                    @extend .body-text;
                    color: var(--light-bg-2);
                    opacity: 80%;
                    transition: color 0.3s;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 1px;
                        background-color: var(--text-red);
                        transition: width 0.3s ease;
                    }

                    &:hover {
                        cursor: pointer;
                        color: var(--light-bg);

                        &::before {
                            width: 100%;
                        }
                    }



                }
            }


        }
    }
}