.footer {
    background-color: rgba(15, 15, 20, 1);
    color: #fff;
    padding: 60px 0px;
    font-family: "Inter", sans-serif;
    padding-top: 80px;

    @media (max-width: 900px) {
        padding-top: 50px;

    }

    .container {


        .footer-container {


            .footer-content {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding-bottom: 50px;

                .footer-menu-links {
                    z-index: 10;
                }

                .footer-column {
                    position: relative;
                    z-index: 10;
                    padding-left: 10px;


                    .footer-title {
                        @extend .button-text;
                        font-family: var(--font-mono);
                        text-transform: uppercase;
                        color: var(--light-bg);
                        line-height: 20px;

                        margin-bottom: 32px;

                        @media(max-width:900px) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }


                }

                .footer-about {
                    width: 268px;
                    z-index: 10;

                    .logo {
                        display: inline-block;
                        margin-bottom: 30px;
                        z-index: 10;

                        img {
                            width: 92px;
                            height: 48px;
                        }
                    }

                    .mobile-logo {
                        display: none;
                    }

                    @media (max-width: 600px) {
                        .logo {
                            display: none;
                        }

                        .mobile-logo {
                            display: inline-block;
                            margin-bottom: 30px;
                        }
                    }

                    .footer-text {
                        width: 268px;
                        @extend .navbar-text;
                        color: var(--light-bg-2);
                        opacity: 80%;
                        line-height: 24px;

                        @media (max-width:900px) {
                            font-size: 14px;
                            line-height: 20px;
                        }

                    }

                    .footer-social-icons {
                        padding-top: 40px;
                        z-index: 10;

                        @media (max-width:900px) {
                            padding-top: 20px
                        }

                        a {
                            svg {
                                path {
                                    fill-opacity: 0.6;
                                    transition: fill 0.3s;

                                }

                                &:hover path {
                                    fill-opacity: 100%
                                }
                            }
                        }
                    }
                }

                .footer-title {
                    @extend .button-text;
                    font-family: var(--font-mono);
                    line-height: 20px;

                    p {
                        cursor: pointer;
                    }
                }

                .footer-links {
                    z-index: 10;

                    li a {
                        // @extend .navbar-text;
                        font-size: 16px;
                        font-family: var(--font-primary);
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0;

                        @media (max-width: 1030px) {
                            font-size: 14px;
                            line-height: 20px;
                        }

                        text-wrap: nowrap;
                        color: var(--light-bg-2);
                        text-decoration: none;
                        transition: color 0.3s;
                        position: relative;
                        opacity: 80%;

                        @media (max-width:400px) {
                            text-wrap: wrap;
                        }

                        &:hover {
                            color: var(--primary-red);

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .footer-mobile-content {
                display: none;
            }

            // mobile device style

            @media (max-width: 1300px) {
                .footer-content {
                    display: none;
                }

                .footer-mobile-content {
                    display: block;
                    display: grid;
                    grid-template-columns: 1fr;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);


                    .footer-column {
                        position: relative;
                        z-index: 10;
                        // padding-left: 10px;


                        .footer-title {
                            // @extend .button-text;
                            font-family: var(--font-mono);
                            text-transform: uppercase;
                            color: var(--light-bg);
                            margin-bottom: 24px;
                            font-size: 16px;
                            font-family: var(--font-primary);
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0;

                            @media (max-width: 1030px) {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }


                    }

                    .footer-about {
                        width: 268px;
                        z-index: 10;

                        .logo {
                            display: inline-block;
                            margin-bottom: 30px;
                            z-index: 10;

                            img {
                                width: 92px;
                                height: 48px;
                            }
                        }

                        .mobile-logo {
                            display: none;
                        }

                        @media (max-width: 600px) {
                            .logo {
                                display: none;
                            }

                            .mobile-logo {
                                display: inline-block;
                                margin-bottom: 30px;
                                z-index: 10;

                                img {
                                    width: 92px;
                                    height: 48px;
                                }
                            }
                        }

                        .footer-text {
                            width: 268px;
                            font-size: 16px;
                            font-family: var(--font-primary);
                            font-weight: 500;
                            letter-spacing: 0;
                            // @extend .navbar-text;
                            color: var(--light-bg-2);
                            opacity: 80%;
                            line-height: 24px;

                            @media (max-width: 1030px) {
                                font-size: 14px;
                                line-height: 20px;
                            }

                            @media (max-width:900px) {
                                padding-bottom: 10px
                            }


                        }

                        .footer-social-icons {
                            padding-top: 40px;
                            z-index: 10;

                            @media (max-width:900px) {
                                padding-top: 20px
                            }

                            a {
                                svg {
                                    path {
                                        fill-opacity: 0.6;
                                        transition: fill 0.3s;

                                    }

                                    &:hover path {
                                        fill-opacity: 100%
                                    }
                                }
                            }
                        }
                    }

                    .footer-menu-links {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        max-width: 900px;
                        width: 100%;
                        gap: 105px;
                        padding-top: 60px;
                        padding-bottom: 40px;

                        @media (max-width:850px) {
                            gap: 90px;
                            grid-template-columns: repeat(2, 1fr);
                        }

                        @media (max-width:500px) {
                            gap: 50px;
                            grid-template-columns: repeat(2, 1fr);
                        }

                        .footer-links {
                            z-index: 10;

                            li a {
                                // @extend .navbar-text;
                                text-wrap: nowrap;
                                color: var(--light-bg-2);
                                text-decoration: none;
                                transition: color 0.3s;
                                position: relative;
                                opacity: 80%;
                                font-size: 16px;
                                font-family: var(--font-primary);
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: 0;

                                @media (max-width: 1030px) {
                                    line-height: 20px;
                                    font-size: 14px;
                                }

                                @media (max-width:400px) {
                                    text-wrap: wrap;
                                }

                                &:hover {
                                    color: var(--primary-red);

                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        .footer-menu-links-two {
                            width: 700px;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);

                            @media (max-width:870px) {
                                width: 500px;
                            }

                            @media (max-width:750px) {
                                grid-template-columns: 1fr;
                                width: 100%;
                                gap: 40px;
                            }

                        }
                    }






                }
            }






        }

        .footer-bottom {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 13px;
            @extend .body-text;
            color: var(--light-bg-2);

            @media (max-width: 600px) {
                flex-direction: column;
                gap: 30px;
                text-align: start;
                align-items: flex-start;
                line-height: 3;
            }

            .copy-right-text {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @media (max-width:550px) {
                    flex-direction: column;
                }

                span {
                    @extend .body-text;
                    color: var(--light-bg-2);
                    opacity: 80%;

                }

                a {
                    @extend .body-text;
                    color: var(--light-bg-2);
                    opacity: 80%;
                    transition: color 0.3s;
                    position: relative;
                    text-decoration: underline;

                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: -4px;
                    //     width: 0;
                    //     height: 1px;
                    //     background-color: var(--text-red);
                    //     transition: width 0.3s ease;
                    // }

                    &:hover {
                        cursor: pointer;
                        color: var(--primary-red);

                        &::before {
                            width: 100%;
                        }
                    }



                }
            }


        }
    }
}