.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 10;

    .nav-container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 104px;

        @media (max-width: 1600px) {
            padding: 18px 40px;
        }

        @media (max-width: 800px) {
            padding: 18px 20px;
            padding-bottom: 28px;
        }

        .nav-wraper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .nav-first-half {
                display: flex;
                align-items: center;
                gap: 87px;

                @media (max-width: 1100px) {
                    gap: 40px;
                }

                .logo {
                    img {
                        width: 57px;
                        height: 30px;
                        object-fit: contain;

                        @media (max-width: 1300px) {
                            width: 50px;
                            height: 30px;
                        }

                        @media (max-width: 1100px) {
                            width: 46px;
                            height: 24px;
                        }

                        @media (max-width: 782px) {
                            margin-top: 12px;
                        }
                    }
                }

                .nav-menu {
                    display: flex;
                    align-items: center;

                    .main-menu-list {
                        list-style: none;
                        display: flex;
                        gap: 20px;
                        position: relative;

                        @media (max-width: 1100px) {
                            gap: 20px;
                        }

                        li {
                            position: relative;
                            display: flex;


                            svg {
                                margin-right: 10px;
                                margin-top: 8px;
                            }

                            &:nth-child(3) svg {
                                margin-top: 0;
                                margin-right: 10px;
                            }

                            // svg {
                            //     margin-right: 10px;
                            //     margin-top: 8px;
                            // }

                            a {
                                display: inline-flex;
                                align-items: center;
                                gap: 5px;
                                text-decoration: none;
                                @extend .navbar-text;
                                color: var(--color-white);
                                transition: color 0.3s;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: -4px;
                                    width: 0;
                                    height: 1px;
                                    background-color: var(--text-red);
                                    transition: width 0.3s ease;
                                }

                                &:hover {
                                    color: var(--text-red);

                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }


                            &.menu-item-has-children {
                                position: relative;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                cursor: pointer;

                                svg {
                                    transition: transform 0.3s ease;
                                    stroke: white;
                                }

                                .sub-menu {
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    background: #1a1a1a;
                                    border: 1px solid #555;
                                    list-style: none;
                                    padding: 10px;
                                    margin-top: 10px;
                                    opacity: 0;
                                    visibility: hidden;
                                    z-index: 10;
                                    min-width: 300px;
                                    transition: all 0.3s ease;
                                }

                                &:hover .sub-menu {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                &:hover a svg {
                                    transform: rotate(180deg);
                                    stroke: #FF6600;
                                }

                                .sub-menu li {
                                    margin-bottom: 10px;

                                    a {
                                        color: #e2d5d5;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;

                                        &:hover {
                                            color: var(--text-red);
                                        }
                                    }
                                }
                            }


                        }





                    }

                }
            }

            .nav-sec-half {
                display: flex;
                align-items: center;
                gap: 20px;

                @media (max-width: 750px) {
                    .primary-button {
                        width: 100%;
                    }
                }

            }
        }

        .hamburger {
            display: none;
        }

        .small-nav-wraper {
            display: none;
        }

        /* Responsive Styles */
        @media (max-width: 800px) {
            .nav-wraper {
                .nav-first-half {
                    .nav-menu {
                        display: none;
                    }
                }

                .nav-sec-half {
                    display: none;
                }
            }

            .small-nav-wraper {
                // border-top: 1px solid rgba(255, 255, 255, 0.2);
                position: absolute;
                top: 70px;
                left: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 1);
                display: flex;
                flex-direction: column;
                padding: 12px 30px 40px;
                overflow: hidden;
                height: calc(100vh - 103px);
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease, max-height 0.4s ease;
                z-index: 10;

                @media (max-width: 782px) {
                    top: 70px;
                }

                &.active {
                    max-height: calc(100vh - 103px);
                    opacity: 1;
                    visibility: visible;

                    .small-nav-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100vh;

                        .small-nav-first-half {
                            display: block;

                            .nav-menu {
                                display: flex;
                                flex-direction: column;
                                gap: 15px;


                                .main-menu-list {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                    // gap: 10px;

                                    li {
                                        position: relative;
                                        // display: flex;
                                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                                        &:not(:nth-child(3)) {
                                            padding: 18px 0;

                                        }

                                        &:nth-child(3) {
                                            padding-top: 18px;
                                        }

                                        // &:not(:last-child) {
                                        //     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                                        // }


                                        svg {
                                            // position: absolute;
                                            // top: 47%;
                                            // left: -8px;
                                            // transform: translateY(-50%);
                                            margin-left: 2px;
                                            margin-bottom: 3px;
                                        }


                                        a {
                                            display: inline-flex;
                                            font-size: 16px;
                                            font-family: var(--font-primary);
                                            font-weight: 500;
                                            line-height: 20px;
                                            letter-spacing: 0;
                                            color: var(--color-white);
                                            transition: color 0.3s;
                                            position: relative;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                left: 0;
                                                bottom: -4px;
                                                width: 0;
                                                height: 1px;
                                                color: var(--text-red);
                                                background-color: var(--text-red);
                                                transition: width 0.3s ease;
                                            }

                                            &:hover {
                                                color: var(--text-red);

                                                &::before {
                                                    width: 100%;
                                                }
                                            }


                                        }

                                        &.menu-item-has-children {
                                            cursor: pointer;
                                            position: relative;
                                            overflow: hidden;
                                            // margin-bottom: 5px;


                                            a {
                                                display: inline-flex;
                                                gap: 5px;
                                                align-items: center;
                                                color: var(--light-bg);
                                                font-weight: 400;
                                                text-decoration: none;
                                                font-size: 14px;
                                                line-height: 19px;
                                                transition: color 0.3s;
                                                position: relative;

                                                &::before {
                                                    content: "";
                                                    position: absolute;
                                                    left: 0;
                                                    bottom: -4px;
                                                    width: 0;
                                                    height: 1px;
                                                    color: var(--text-red);
                                                    background-color: var(--text-red);
                                                    transition: width 0.3s ease;
                                                }

                                                &:hover {
                                                    color: var(--text-red);

                                                    &::before {
                                                        width: 100%;
                                                    }
                                                }

                                            }

                                            svg {
                                                transition: transform 0.3s ease;
                                                stroke: white;
                                            }

                                            .sub-menu {
                                                list-style: none;
                                                padding-left: 0;
                                                margin-top: 18px;
                                                margin-bottom: 6px;
                                                max-height: 0;
                                                overflow: hidden;
                                                transition: max-height 0.3s ease;
                                                background: rgba(255, 255, 255, 0.06);
                                                border-radius: 5px;
                                                border-bottom: none;



                                                li {
                                                    border-bottom: 2px solid rgba(0, 0, 0, 1);

                                                    padding: 12px 12px;

                                                    a {
                                                        display: inline-flex;
                                                        // padding: 12px;
                                                        font-size: 14px;
                                                        color: #e2d5d5;
                                                        text-decoration: none;
                                                        transition: color 0.3s;
                                                        position: relative;

                                                        &::before {
                                                            content: "";
                                                            position: absolute;
                                                            left: 0;
                                                            bottom: -4px;
                                                            width: 0;
                                                            height: 1px;
                                                            background-color: var(--text-red);
                                                            transition: width 0.3s ease;
                                                        }

                                                        &:hover {
                                                            // color: var(--text-red);

                                                            &::before {
                                                                width: 100%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            &:hover a svg {
                                                transform: rotate(0deg);
                                                stroke: var(--text-red);
                                            }

                                            &.active {
                                                .sub-menu {
                                                    max-height: 500px;
                                                }
                                            }

                                            .sub-menu {
                                                max-height: 0;
                                                overflow: hidden;
                                                transition: max-height 0.3s ease;
                                            }
                                        }


                                    }

                                    .active {
                                        color: var(--text-red);
                                    }
                                }
                            }
                        }

                        .nav-sec-half {


                            .primary-button {
                                width: 100%;
                            }
                        }
                    }
                }
            }


            .hamburger {
                display: block;
                cursor: pointer;
                position: relative;

                .hamburger-icon,
                .cross {
                    position: absolute;
                    top: -12px;
                    left: -30px;
                    transition: opacity 0.3s ease, transform 0.3s ease;
                }

                .hamburger-icon {
                    opacity: 1;
                    transform: rotate(0deg);
                    z-index: 2;
                }

                .cross {
                    opacity: 0;
                    transform: rotate(-90deg);
                    z-index: 1;
                }

                &.active .hamburger-icon {
                    opacity: 0;
                    transform: rotate(90deg);
                    z-index: 1;
                }

                &.active .cross {
                    opacity: 1;
                    transform: rotate(0deg);
                    z-index: 2;
                }
            }

            .hamburger {
                outline: none;
                border: none;
                background: none;
                padding: 0;
            }

            .hamburger:focus {
                outline: none;
                box-shadow: none;
            }


        }


        ul li.menu-item-has-children>a {
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-left: 6px;
                vertical-align: middle;
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_924_233)'%3E%3Cpath d='M13 6L8 11L3 6' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_924_233'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
                background-size: 16px 16px;
                transition: transform 0.3s ease, filter 0.3s ease;
            }

            /* Desktop hover */
            &:hover::after {
                transform: rotate(180deg);

                @media (max-width: 1100px) {
                    transform: rotate(0deg);
                    /* mobile e hover remove */
                }
            }
        }

        /* When submenu is open → rotate arrow + color change */
        ul li.menu-item-has-children.active>a::after {
            transform: rotate(180deg);
            // filter: brightness(0) saturate(100%) invert(59%) sepia(81%) saturate(3806%) hue-rotate(3deg) brightness(110%) contrast(102%);
        }

        .resizable-element {
            resize: none;
            overflow: hidden;
        }





    }
}

.navbar.menu-open {
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}


@media (min-width: 801px) {
    .menu-item-has-children:hover .sub-menu {
        opacity: 1;
        visibility: visible;
    }
}