.single-img-container {
    background-color: var(--dark-normal);

    .container {
        margin: 0 auto;
        width: 100%;
        padding-left: 104px;
        padding-right: 104px;
        max-width: 1920px;

        @include breakpoint-max(3xl) {
            max-width: 1680px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include breakpoint-max(xxl) {
            max-width: 1440px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include breakpoint-max(xl) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include breakpoint-max(lg) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpoint-max(md) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @include breakpoint-max(sm) {
            max-width: 680px;
            padding-left: 0px;
            padding-right: 0px;
        }



        img {
            height: 780px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            padding-bottom: 100px;

            @media (max-width: 1200px) {
                height: 500px;
                width: 100%;
                padding-bottom: 80px;
            }
        }
    }

}