.service-details-key-features {
  padding-top: 200px;
  padding-bottom: 228px;
  background-color: var(--dark-normal);

  @media (max-width: 1600px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  @media (max-width: 900px) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .content-wrapper {
    display: flex;
    // gap: 293px; //eta dile bady line er sathe align hoy na
    gap: 310px;

    @media (max-width: 1600px) {
      gap: 100px;
    }
    @media (max-width: 900px) {
      gap: 80px;
    }

    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 80px;
    }
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 40px;
    }

    .section-header {
      display: flex;
      //   flex-direction: column;
    }

    .section-tag {
      text-wrap: nowrap;
      display: inline-block;
      color: var(--color-white-80);
      text-transform: uppercase;

      svg {
        margin-bottom: 3px;
      }

    }

    .features-grid {
      max-width: 1264px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

    }

    .feature-card {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      transition: all 0.3s ease;
      height: 344px;
      backdrop-filter: blur(10px);

      @media (max-width: 1440px) {
        height: 100%;
      }
    }

    .feature-card:hover {
      background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .feature-title {
      color: var(--color-white);

    }

    .feature-description {
      color: var(--color-white-70);
    }


    /* Responsive Design */
    @media (max-width: 1024px) {
      .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

      .feature-card {
        padding: 30px;
      }
    }

    @media (max-width: 768px) {

      .features-grid {
        grid-template-columns: 1fr;
      }

      .feature-card {
        padding: 30px;
        min-height: auto;
      }
    }
  }
}