.home-core-capabilities{
padding-bottom: 10px;
    .who-we-are-content {
        .who-we-are-right {
            .main-title {
                color: var(--color-white) ;
                span {
                    color: var(--color-white);
                }
            }
        }
    }
}