.who-we-are {
  padding-top: 200px;
  padding-bottom: 90px;
  background-color: var(--dark-normal);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);

  @media (max-width: 1600px) {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  @media (max-width: 700px) {
    padding-top: 60px;
    padding-bottom: 90px;
  }


  .who-we-are-content {
    display: flex;
    justify-content: space-between;
    gap: 80px;

    @media (max-width: 1130px) {
      flex-direction: column;
      gap: 50px;
    }

    .who-we-are-left {
      margin-top: 5px;
      display: flex;
      // justify-content: center;
      gap: 12px;

      svg {
        margin-top: 6px;
      }

      .button-text {
        color: var(--color-white-80);
        font-family: var(--font-mono);
        font-weight: 600;
      }
    }

    .who-we-are-right {
      max-width: 848px;



      .main-title {
        color: var(--color-white-30);

        span {
          color: var(--color-white);
        }
      }

      .who-we-are-description {
        color: var(--color-white-70);
        margin-bottom: 32px;
        margin-top: 32px;
      }

    }
  }

&.home-who-we-are {

  .who-we-are-right {

    // main title wrapper
    .main-title {

      // default state (initial)
      .char {
        display: inline-block;
        color: var(--color-white-30);
        transition: color 0.75s ease;
      }

      // span বা nested element থাকলে force white (static text)
      span,
      span * {
        color: var(--color-white);
      }
    }

    // when section is visible (AOS active)
    &.aos-animate {
      .main-title {
        .char {
          color: var(--color-white);
        }
      }
    }
  }
}


}

