.safety-responsibility-features {
    padding-top: 200px;
    padding-bottom: 228px;
    background-color: var(--dark-normal);

    @media (max-width: 1600px) {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    @media (max-width: 900px) {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .content-wrapper {
        max-width: 1692px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 293px;
        justify-content: space-between;

        @media (max-width: 1600px) {
            gap: 100px;
        }

        @media (max-width: 900px) {
            flex-direction: column;
            gap: 0px;
        }

        .section-header {
            // display: flex;
            //   flex-direction: column;
        }

        .section-header::after {
            content: none !important;
        }

        .section-tag {
            text-wrap: nowrap;
            display: inline-block;
            color: var(--color-white-80);
            text-transform: uppercase;
            font-family: var(--font-mono);
            font-weight: 600;

            svg {
                margin-bottom: 3px;
            }

        }

        .features-grid {
            max-width: 836px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-content: space-between;

        }

        .feature-card {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;
            transition: all 0.3s ease;
            height: 344px;
            backdrop-filter: blur(10px);

            @media (max-width: 1440px) {
                height: 100%;
            }
        }

        .feature-card:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .feature-title {
            color: var(--color-white);

        }

        .feature-description {
            color: var(--color-white-70);
        }

        /* Grid line decorative element */
        

        /* Responsive Design */
        @media (max-width: 1024px) {
            .features-grid {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            .feature-card {
                padding: 30px;
            }
        }

        @media (max-width: 768px) {

            .features-grid {
                grid-template-columns: 1fr;
            }

            .section-tag {
                margin-bottom: 25px;
            }

            .feature-card {
                padding: 30px;
                min-height: auto;
            }

           

          
        }

    }
}