.about-header-section {
    background-color: var(--dark-normal);

    .about-header-wraper {
        text-align: start;
        padding: 108px 163px 99px;

        @media (max-width: 1600px) {
            padding: 108px 80px 99px;
        }

        @media (max-width: 1200px) {
            padding: 80px 40px 80px;
        }

        @media (max-width: 600px) {
            padding: 80px 0px 80px;
        }


        .heading-one {
            color: var(--light-bg);
            margin-bottom: 20px;
            max-width: 900px;

            @media (max-width: 1200px) {
                max-width: 450px;

            }


        }

        .body-text-two {
            font-size: 18px;
            color: var(--light-bg-2);
        }
    }

    .about-banner-wraper {
        width: 100%;
        max-height: 800px;
       
    }
    .button-wraper{
        margin-top: 40px;
    }
}