.managing-partner-section {
  padding: 120px 0;
  background-color: #ffff;
  margin-top: -2px;


  .partner-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;

    .partner-image {
      flex: 1 1 300px;

      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .partner-text {
      flex: 1 1 400px;

      h2 {
                color: var(--dark-normal);

        margin-bottom: 20px;
      }

      .heading-four {
       font-weight: 400;
        color: var(--dark-normal);
        position: relative;
        padding-left: 12px;

        &::before {
          content: '';
          width: 3px;
          height: 100%;
          background-color: #d21f3c;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .body-text-two {
        display: block;
        margin-top: 15px;
        color: var(--dark-80);
      }
    }
  }

  @media (max-width: 768px) {
    .partner-content {
      flex-direction: column;

      .partner-text {
        text-align: center;

        p::before {
          left: 50%;
          transform: translateX(-50%);
          height: 50px;
        }
      }
    }
  }
}
