.mission-vission-section {
    background-color: rgba(247, 247, 247, 1);
    padding: 120px 0 100px;
    margin-top: -2px;

    @media (max-width: 1030px) {
        padding: 80px 0 80px;
    }

    .mission-vission-wraper {
        max-width: 1537px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 100px;

        @media (max-width: 1030px) {
            flex-direction: column;
            align-items: start;
            gap: 40px;
            padding-bottom: 60px;
        }

        .heading-two {}

        .mission-vission-content {
            max-width: 682px;
            // font-size: 16px;
            // line-height: 28px;
            color: var(--dark-80);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .mission-content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    color: var(--dark-normal);
                }

                p {
                    color: var(--dark-80);
                }
            }

            .vission-content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    color: var(--dark-normal);
                    color: var(--dark-80);
                }
            }

            span {
                display: block;
                margin-bottom: 15px;
            }
        }
    }

    .about-middle-wraper {
        img{
        border-radius: 12px;

        }
    }
}