.contact-us-form-section {
    padding-top: 160px;
    padding-bottom: 200px;
    background-color: var(--dark-normal);

    @media (max-width: 1600px) {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    @media (max-width: 9000px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-content {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        z-index: 10;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 80px;
        }

        // gap: 448px;
        .contact-info {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 408px;
            z-index: 10;

            @media (max-width: 1024px) {
                max-width: 100%;
            }

            .contact-heading {
                display: flex;
                flex-direction: column;
                gap: 32px;
                z-index: 10;
                // cursor: pointer;

                .heading-two {
                    color: var(--color-white);

                }

                .description {
                    color: var(--color-white-70);

                    &:hover {
                        // color: var(--color-white);
                    }
                }
            }

            .info-grid {
                display: flex;
                flex-direction: column;
                gap: 16px;
                cursor: pointer;

                .info-card {

                    .body-text-two {
                        color: var(--color-white-70);

                        &:hover {
                            color: var(--color-white);
                        }


                        a {
                            color: var(--color-white-70);

                            &:hover {
                                color: var(--color-white);
                            }
                        }
                    }

                    .heading-five {
                        color: var(--color-white-70);

                        a {
                            color: var(--color-white-70);

                            &:hover {
                                color: var(--color-white);
                            }

                        }
                    }
                }
            }
        }

        .contact-form-wrapper {
            width: 836px;
            z-index: 10;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }
}

.contact-container {
    width: 100%;
    max-width: 835px;
    background: rgba(30, 31, 38, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 56px;
    padding-bottom: 8px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 10;

    @media (max-width: 1400px) {
        padding: 36px;
        padding-bottom: 0px;
    }

    @media (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
    }


    label {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        font-family: var(--font-primary);
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--color-white);

        @media (max-width: 1030px) {
            font-size: 12px;
            line-height: 16px;
        }

        span {
            margin-top: 20px;


            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                line-height: 1.6;
                padding-bottom: 8px;

                font-size: 16px;
                font-family: var(--font-primary);
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0;
                color: var(--color-white-70);
                z-index: 10;

                @media (max-width: 1030px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            input:focus {
                outline: none;
            }

            textarea {
                width: 100%;
                height: 110px;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                background: rgba(30, 31, 38, 1);
                color: #e0e0e0;
                font-size: 16px;
                line-height: 1.6;
                border-radius: 6px 6px 0 0;

                font-size: 16px;
                font-family: var(--font-primary);
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0;
                color: var(--color-white-70);
                z-index: 10;

                @media (max-width: 1030px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            textarea:focus {
                outline: none;
            }

        }
    }



    .submit-btn {

        width: fit-content;
        background: var(--primary-red);
        color: var(--color-white);
        padding: 12px 28px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        margin-top: 10px;
        // z-index: 10;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 6px;
            color: black;
        }

        &:hover {
            background-color: var(--color-white);
            color: var(--primary-red);
            transition: all 0.3s ease;
            // transform: translateX(2px);
        }

        &:active {
            transform: translateX(0);
        }
    }
}